html{
  background-color: black;
}

body{
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  height: 600px;
  font-family: 'Orbitron', sans-serif;
}

.unexploded{
  background-image: url("./img/simcity.jpg");
}

.exploded{
  background-image: url("./img/explosion.jpg");
}

.container-all{
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

#container-timer{
  color: red;
  font-size: 28px;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-top: 10px;
}

.container-wires{
  width: 100%;
  height: 253px;
  background-color: rgba(0,0,0,.8);
  padding: 10px 0px;
}

.wire{
  width: 25px;
  height: 253px;
  display: inline-block;
}

.cut-blue{
  background-image: url("./img/cut-blue-wire.png");
}

.blue{
  background-image: url("./img/uncut-blue-wire.png");
}

.cut-green{
  background-image: url("./img/cut-green-wire.png");
}

.green{
  background-image: url("./img/uncut-green-wire.png");
}

.cut-yellow{
  background-image: url("./img/cut-yellow-wire.png");
}

.yellow{
  background-image: url("./img/uncut-yellow-wire.png");
}

.cut-red{
  background-image: url("./img/cut-red-wire.png");
}

.red{
  background-image: url("./img/uncut-red-wire.png");
}

.cut-white{
  background-image: url("./img/cut-white-wire.png");
}

.white{
  background-image: url("./img/uncut-white-wire.png");
}

.container-bottom{
  /*height: 35px;*/
  width: 100%;
  background-color: rgba(0,0,0,.8);
  padding: 10px 0px;
}

#seconds{
  width: 30px;
  text-align: center;
  font-size: 16px;
  width: 50px;
  font-family: 'Orbitron', sans-serif;
}

label{
  font-size: 16px;
  color: white;
  position: relative;
  top: 22%;
}

button{
  position: relative;
  top: 22%;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}

#start{
  background-color: rgb(128, 251, 62);
}

#reset{
  background-color: rgb(207, 202, 190);
}
